h2 {
    font-family: 'Sriracha', cursive;
    font-size: 28px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-size: 16px;
}
.outer {
    max-width: 100%;
}
#thumbs .item { 
    width: 50px; 
    padding: 0px; 
    margin:2px; 
    cursor: pointer; 
}
.owl-theme .owl-nav [class*='owl-'] { 
    -webkit-transition: all .3s ease; 
    transition: all .3s ease; 
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover { 
    background-color: #D6D6D6; 
}
#big.owl-theme { 
    position: relative; 
}
#big.owl-theme .owl-next, 
#big.owl-theme .owl-prev { 
    background:#333; 
    width: 22px; 
    line-height:40px; 
    height: 40px; 
    margin-top: -20px; 
    position: absolute; 
    top: 50%; 
}
#big.owl-theme .owl-prev { 
    left: 10px; 
}
#big.owl-theme .owl-next { 
    right: 10px; 
}
#thumbs.owl-theme .owl-next, 
#thumbs.owl-theme .owl-prev { 
    background:#333; 
}