A {
    color: #000;
}

.sidenav-trigger {
    position: fixed;
    top: 0;
    left: 0;
}
.closenav {
    cursor: pointer;
}
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.hidden {
    display: none;
}
.makeup-margin-left {
    margin-left: 5%;
}
.makeup-margin-left-10 {
    margin-left: 10%;
}